<a href="https://colab.research.google.com/github/DanieleTravessa/AdaDados/blob/main/Mod4_Aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas DataFrame exercises

In [ ]:
import numpy as np

import pandas as pd

--------
## DataFrame creation

### Crie um DataFrame Vazio

In [ ]:
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

<img width=400 src="https://cdn.dribbble.com/users/4678/screenshots/1986600/avengers.png"></img>


### Crie um  `marvel_df` com os dados abaixo

In [ ]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [ ]:
marvel_df = pd.DataFrame(marvel_data, columns=['Nome', 'Gênero', 'Ano'])

print(marvel_df)

                Nome  Gênero   Ano
0         Spider-Man    male  1962
1    Captain America    male  1941
2          Wolverine    male  1974
3           Iron Man    male  1963
4               Thor    male  1963
5              Thing    male  1961
6   Mister Fantastic    male  1961
7               Hulk    male  1962
8              Beast    male  1963
9    Invisible Woman  female  1961
10             Storm  female  1975
11             Namor    male  1939
12           Hawkeye    male  1964
13         Daredevil    male  1964
14    Doctor Strange    male  1963
15          Hank Pym    male  1962
16     Scarlet Witch  female  1964
17              Wasp  female  1963
18       Black Widow  female  1964
19            Vision    male  1968

#### Adicione a coluna nomes ao DF

In [ ]:
marvel_df['Nomes'] = marvel_df['Nome']
print(marvel_df)

                Nome  Gênero   Ano             Nomes
0         Spider-Man    male  1962        Spider-Man
1    Captain America    male  1941   Captain America
2          Wolverine    male  1974         Wolverine
3           Iron Man    male  1963          Iron Man
4               Thor    male  1963              Thor
5              Thing    male  1961             Thing
6   Mister Fantastic    male  1961  Mister Fantastic
7               Hulk    male  1962              Hulk
8              Beast    male  1963             Beast
9    Invisible Woman  female  1961   Invisible Woman
10             Storm  female  1975             Storm
11             Namor    male  1939             Namor
12           Hawkeye    male  1964           Hawkeye
13         Daredevil    male  1964         Daredevil
14    Doctor Strange    male  1963    Doctor Strange
15          Hank Pym    male  1962          Hank Pym
16     Scarlet Witch  female  1964     Scarlet Witch
17              Wasp  female  1963              Wasp
18       Black Widow  female  1964       Black Widow
19            Vision    male  1968            Vision

#### Adicione o index `marvel_df` (use o nome dos personagens como index)

In [ ]:
marvel_df.set_index('Nomes', inplace=True)
print(marvel_df)

                              Nome  Gênero   Ano
Nomes
Spider-Man              Spider-Man    male  1962
Captain America    Captain America    male  1941
Wolverine                Wolverine    male  1974
Iron Man                  Iron Man    male  1963
Thor                          Thor    male  1963
Thing                        Thing    male  1961
Mister Fantastic  Mister Fantastic    male  1961
Hulk                          Hulk    male  1962
Beast                        Beast    male  1963
Invisible Woman    Invisible Woman  female  1961
Storm                        Storm  female  1975
Namor                        Namor    male  1939
Hawkeye                    Hawkeye    male  1964
Daredevil                Daredevil    male  1964
Doctor Strange      Doctor Strange    male  1963
Hank Pym                  Hank Pym    male  1962
Scarlet Witch        Scarlet Witch  female  1964
Wasp                          Wasp  female  1963
Black Widow            Black Widow  female  1964
Vision                      Vision    male  1968

#### Drop a coluna nome visto que agora ela é o index

In [ ]:
if 'Nome' in marvel_df.columns:
    marvel_df.drop(columns=['Nome'], inplace=True)
    print(marvel_df)

                  Gênero   Ano
Nomes
Spider-Man          male  1962
Captain America     male  1941
Wolverine           male  1974
Iron Man            male  1963
Thor                male  1963
Thing               male  1961
Mister Fantastic    male  1961
Hulk                male  1962
Beast               male  1963
Invisible Woman   female  1961
Storm             female  1975
Namor               male  1939
Hawkeye             male  1964
Daredevil           male  1964
Doctor Strange      male  1963
Hank Pym            male  1962
Scarlet Witch     female  1964
Wasp              female  1963
Black Widow       female  1964
Vision              male  1968

#### Drop Namor e Hank Pyn

In [ ]:
marvel_df.drop(index=['Namor', 'Hank Pym'], inplace=True)
print(marvel_df)

                  Gênero   Ano
Nomes
Spider-Man          male  1962
Captain America     male  1941
Wolverine           male  1974
Iron Man            male  1963
Thor                male  1963
Thing               male  1961
Mister Fantastic    male  1961
Hulk                male  1962
Beast               male  1963
Invisible Woman   female  1961
Storm             female  1975
Hawkeye             male  1964
Daredevil           male  1964
Doctor Strange      male  1963
Scarlet Witch     female  1964
Wasp              female  1963
Black Widow       female  1964
Vision              male  1968


## DataFrame selection, slicing and indexation

#### Mostre os primeiros 5 elementos do dataframe

In [ ]:
marvel_df.head(5)

                Gênero   Ano
Nomes
Spider-Man        male  1962
Captain America   male  1941
Wolverine         male  1974
Iron Man          male  1963
Thor              male  1963


#### Mostre os 4 últimos elementos do dataframe

In [ ]:
marvel_df.tail(4)

               Gênero   Ano
Nomes
Scarlet Witch  female  1964
Wasp           female  1963
Black Widow    female  1964
Vision           male  1968


#### Mostre somente o sexto dos 5 primeiros elementos do DF `marvel_df`

In [ ]:
marvel_df.head(6).iloc[-1]

Gênero    male
Ano       1961
Name: Thing, dtype: object


#### Mostre a primeira aparição dos elementos do meio `marvel_df`

In [ ]:
meio_idx = len(marvel_df) // 2
print(marvel_df.iloc[meio_idx])

Gênero    female
Ano         1961
Name: Invisible Woman, dtype: object

#### Mostre os primeiros e últimos elementos `marvel_df`

In [ ]:
marvel_df.iloc[[0, -1]]

           Gênero   Ano
Nomes
Spider-Man   male  1962
Vision       male  1968

## DataFrame manipulação e operação

#### Modifique a  `first_appearance` do 'Vision' para o ano 1964

In [ ]:
marvel_df.loc['Vision', 'Ano de Estreia'] = 1964
print(marvel_df)

                  Gênero   Ano  Ano de Estreia
Nomes
Spider-Man          male  1962             NaN
Captain America     male  1941             NaN
Wolverine           male  1974             NaN
Iron Man            male  1963             NaN
Thor                male  1963             NaN
Thing               male  1961             NaN
Mister Fantastic    male  1961             NaN
Hulk                male  1962             NaN
Beast               male  1963             NaN
Invisible Woman   female  1961             NaN
Storm             female  1975             NaN
Hawkeye             male  1964             NaN
Daredevil           male  1964             NaN
Doctor Strange      male  1963             NaN
Scarlet Witch     female  1964             NaN
Wasp              female  1963             NaN
Black Widow       female  1964             NaN
Vision              male  1968          1964.0


#### Adicione uma nova coluna para o dataframe  `marvel_df` chamada   'years_since' com os anos desde  `first_appearance`

In [ ]:
marvel_df['years_since'] = pd.Timestamp.now().year - marvel_df['Ano de Estreia']
print(marvel_df)

                  Gênero   Ano  Ano de Estreia  years_since
Nomes
Spider-Man          male  1962             NaN          NaN
Captain America     male  1941             NaN          NaN
Wolverine           male  1974             NaN          NaN
Iron Man            male  1963             NaN          NaN
Thor                male  1963             NaN          NaN
Thing               male  1961             NaN          NaN
Mister Fantastic    male  1961             NaN          NaN
Hulk                male  1962             NaN          NaN
Beast               male  1963             NaN          NaN
Invisible Woman   female  1961             NaN          NaN
Storm             female  1975             NaN          NaN
Hawkeye             male  1964             NaN          NaN
Daredevil           male  1964             NaN          NaN
Doctor Strange      male  1963             NaN          NaN
Scarlet Witch     female  1964             NaN          NaN
Wasp              female  1963             NaN          NaN
Black Widow       female  1964             NaN          NaN
Vision              male  1968          1964.0         60.0


## DataFrame boolean arrays

#### Dê ao  `marvel_df` mostrando somente os personagens femininos

In [ ]:
female_characters = marvel_df[marvel_df['Gênero'] == 'female']
print(female_characters)

                 Gênero   Ano  Ano de Estreia  years_since
Nomes
Invisible Woman  female  1961             NaN          NaN
Storm            female  1975             NaN          NaN
Scarlet Witch    female  1964             NaN          NaN
Wasp             female  1963             NaN          NaN
Black Widow      female  1964             NaN          NaN

#### Given the `marvel_df` pandas DataFrame, get the male characters

In [ ]:
male_characters = marvel_df[marvel_df['Gênero'] == 'male']
print(male_characters)

                 Gênero   Ano  Ano de Estreia  years_since
Nomes
Spider-Man         male  1962             NaN          NaN
Captain America    male  1941             NaN          NaN
Wolverine          male  1974             NaN          NaN
Iron Man           male  1963             NaN          NaN
Thor               male  1963             NaN          NaN
Thing              male  1961             NaN          NaN
Mister Fantastic   male  1961             NaN          NaN
Hulk               male  1962             NaN          NaN
Beast              male  1963             NaN          NaN
Hawkeye            male  1964             NaN          NaN
Daredevil          male  1964             NaN          NaN
Doctor Strange     male  1963             NaN          NaN
Vision             male  1968          1964.0         60.0

#### Given the `marvel_df` pandas DataFrame, get the characters with `first_appearance` after 1970

In [ ]:
after_1970_characters = marvel_df[marvel_df['Ano de Estreia'] > 1970]
print(after_1970_characters)

Empty DataFrame
Columns: [Gênero, Ano, Ano de Estreia, years_since]
Index: []

#### Given the `marvel_df` pandas DataFrame, get the female characters with `first_appearance` after 1970

In [ ]:
female_after_1970_characters = marvel_df[(marvel_df['Gênero'] == 'female') & (marvel_df['Ano de Estreia'] > 1970)]
print(female_after_1970_characters)

Empty DataFrame
Columns: [Gênero, Ano, Ano de Estreia, years_since]
Index: []

#### DataFrame summary statistics

In [ ]:
summary_statistics = marvel_df.describe()
print(summary_statistics)

               Ano  Ano de Estreia  years_since
count    18.000000             1.0          1.0
mean   1963.111111          1964.0         60.0
std       6.824600             NaN          NaN
min    1941.000000          1964.0         60.0
25%    1962.000000          1964.0         60.0
50%    1963.000000          1964.0         60.0
75%    1964.000000          1964.0         60.0
max    1975.000000          1964.0         60.0