# Tuplas

Neste capítulo estudaremos uma estrutura de dados, ou seja, uma forma estruturada de armazenar múltiplos dados. Você provavelmente já estudou pelo menos outra estrutura de dados em Python: a **lista**.

Vamos brevemente revisar os conceitos de lista, pois eles serão úteis para compreender nossa nova estrutura, a **tupla**.

Focaremos em funcionalidades, não em funções prontas e métodos de lista.

## Revisão de Listas

### Criando uma Lista e Acessando Elementos

A lista é uma coleção de objetos em Python. Criando uma única variável para representar a lista, podemos armazenar múltiplos valores. Internamente, esses valores são representados por seus **índices**: um número inteiro, iniciando em zero e incrementando com passo unitário. 

Podemos criar uma lista através da função ```list``` ou utilizando um par de colchetes:

In [6]:
lista = []
lista = list()

type(lista)

lista = ['Python','Java','C#','ADVPL','R']

dados = [3.14, 'python', ['html', 'css', [1, 2, 3]]]

In [7]:
dados[-1][-1][1]

2

### Iterando uma Lista

In [10]:
for item in range(len(lista)):
    print(lista[item])

Python
Java
C#
ADVPL
R

In [13]:
for n, item in enumerate(dados):
    if type(item) == list:
        print('O elemento ', n, ' é uma lista.')

O elemento  2  é uma lista.

In [ ]:
for l1, l2 in zip(lista1, lista2):
    print(n, '-', item)

In [15]:
dados = [ 3.14, 'python', ['html', 'css', [1,2]]]

for n, item in enumerate(dados):
    if type(item) == list: # tipos int, bool, float, str, list<<<<<<<<
        print(f'O elemento {n} é uma lista.')
        for i, elemento in enumerate(item):
            print(n,'.',i, ' ', elemento)

O elemento 2 é uma lista.
2 . 0   html
2 . 1   css
2 . 2   [1, 2]

In [ ]:
tup = (n,'.',i, ' ', elemento)

### *Slicing* de Listas

Uma operação bastante comum em uma lista é extrair apenas uma parte dela. Para isso você deve informar, pelo menos, o índice inicial e o índice final, sendo que o índice final não irá entrar na conta - dizemos que ele é um valor "exclusivo", como se fosse um intervalo aberto naquele ponto.

![](https://s3-sa-east-1.amazonaws.com/lcpi/37773811-c38d-496c-a810-c73fe072b684.png)

In [20]:
empresa = "Let's_Code"
empresa[4:7]

's_C'

In [24]:
#empresa[start:stop:step]
empresa[::-1]

"edoC_s'teL"

In [27]:
empresa[2:10:2]

'tsCd'

### Concatenação de Listas

Uma operação útil em listas é a concatenação. Quando "somamos" duas listas, utilizando o operador **+**, teremos uma nova lista com os elementos das duas listas originais em ordem de aparição:

In [29]:
lista1 = ['luciana','daniele','joão', 'wallace']
lista2 = lista1

print(lista1)

['luciana', 'daniele', 'joão', 'wallace']

In [30]:
print(lista2)

['luciana', 'daniele', 'joão', 'wallace']

In [31]:
lista1.append('edson')
lista1

['luciana', 'daniele', 'joão', 'wallace', 'edson']

In [32]:
lista2

['luciana', 'daniele', 'joão', 'wallace', 'edson']

In [33]:
id(lista1)

2257102113408

In [34]:
id(lista2)

2257102113408

In [35]:
lista3 = lista1.copy()
id(lista3)

2257127047360

In [36]:
lista3 = lista1[:]
id(lista3)

2257126971776

In [37]:
lista3 = lista1[]
id(lista3)

SyntaxError: invalid syntax (434108102.py, line 1)

## Tuplas

### Conceito 
##### Declaração e inicialização

Assim como as listas, tuplas também são coleções de objetos. Elas podem armazenar diversos objetos de diferentes tipos. Elas também possuem índice, que se comporta da mesma maneira que os índices de uma lista. Podemos criar tuplas utilizando parênteses ou a função ```tuple```. Caso a tupla possua pelo menos 2 elementos, não precisamos dos parênteses, basta separar os valores por vírgula, apesar de ser **recomendável** utilizá-los para evitar ambiguidades:

In [39]:
tup = tuple()
tup = ()

type(tup)

tuple

In [42]:
linguagens = ('Python', 'JavaScript', 'R')

dadosVariados = (3.14, 1000, True, 'Abacaxi')

tuplaDeTuplas = ( ('Curso', 'Módulo 1', 'Módulo 2'), ('Data Science', 'Lógica de Programação I', 'Lógica de Programação II'), ('Web Full Stack', 'Front End Estático', 'Front End Dinâmico'))

print(linguagens[1])
print(dadosVariados[2:])
print(tuplaDeTuplas[1][2])

JavaScript
(True, 'Abacaxi')
Lógica de Programação II

### Imutabilidade

Listas possuem uma propriedade que a tupla **não** possui: **mutabilidade**. O código abaixo irá funcionar para a operação na lista, mas irá falhar para a operação na tupla:

In [43]:
linguagens(2)

TypeError: 'tuple' object is not callable

In [49]:
lista1 = ['luciana','daniele','joão', 'wallace']
tupla1 = ('luciana','daniele','joão', 'wallace')

lista1[1] = 'alex'
lista1

['luciana', 'alex', 'joão', 'wallace']

In [51]:
tupla1[:2]

('luciana', 'daniele')

In [52]:
tupla1[2:]

('joão', 'wallace')

In [53]:
tupla1[:2] + tupla1[2:]

('luciana', 'daniele', 'joão', 'wallace')

In [55]:
tupla_1 = ('luciana', 'daniele', 'joao', 'wallace')
tupla_2 = ('luciana', 'daniele', 'joao', 'wallace')
tupla_3 = tupla_1 + tupla_2
tupla_3

('luciana',
 'daniele',
 'joao',
 'wallace',
 'luciana',
 'daniele',
 'joao',
 'wallace')

In [65]:
id_123 = ('alex', ['nome', 'CPF'])
print(id(id_123), id_123)

id_123[1].append('edson')
print(id(id_123), id_123)

id_123[0] = 'gabriel'
print(id(id_123))

2257128578752 ('alex', ['nome', 'CPF'])
2257128578752 ('alex', ['nome', 'CPF', 'edson'])

TypeError: 'tuple' object does not support item assignment

Por que alguém escolheria uma estrutura imutável? Por que usar uma lista com _menos recursos_? O principal motivo é precisamente quando não convém alterar os dados. Em Python é muito difícil "proibir" algo: nada impede outro programador de transformar a tupla em uma lista, fazer alterações na lista e salvar a nova tupla "por cima" da velha, utilizando o mesmo nome para a nova. 

Porém, quando utilizamos uma tupla, estamos **sinalizando** que aqueles dados **não deveriam** ser alterados, e ninguém irá conseguir alterá-los por acidente. Para alterá-los será necessário realizar uma série de conversões de maneira intencional.

Isso aumenta um pouco a segurança e confiabilidade de nosso código em certas situações, evitando a alteração indevida de dados que podem ser críticos para o bom funcionamento do nosso programa.

Adicionalmente, em alguns contextos muito específicos - quantidades muito grandes de dados com uma grande quantidade de operações de **leitura** versus poucas ou nenhuma operação de **escrita** - a tupla pode oferecer desempenho significativamente superior à lista. São poucas as situações onde você sentirá essa diferença, seja porque para quantidades muito baixas de dados a lista possui uma série de otimizações que podem torná-la até mais veloz do que a tupla, seja porque para quantidades relativamente grandes de dados a lista ainda será razoavelmente rápida.

### Desempacotamento de tupla

In [66]:
x, y, z = ('Lista', 'Tupla', 'Dicionário')
print(x)
print(y)
print(z)

Lista
Tupla
Dicionário

In [69]:
x, *y, z = ('Lista', 'Tupla', 'Dicionário', 'pandas', 'numpy')
print(x)
print(y)
print(z)

Lista
['Tupla', 'Dicionário', 'pandas']
numpy

In [74]:
*x, y, z = ('A', 'B', 'C', 'D', 'E')
print(type(x))
print(y)
print(z)

<class 'list'>
D
E

### Operações com tuplas

##### Atribuição

##### Adicionando elementos

##### Removendo elementos

## Iteração

### Enumerate

### Slice

### Zip

## Exercícios

1. Defina duas tuplas: uma com nomes de comida (pelo menos 5 nomes) e outra com os preços das comidas - preservando a ordem. Mostre no *standard output* a relação de comida-preço.

2. Agora, ainda com as tuplas acima, pegue apenas o nome e o preço das três comidas no meio da tupla. (considere "meio da lista" como sendo, por exemplo: ('A', 'B', 'C', 'D', 'E') --> ('B', 'C', 'D').

3. Defina uma tupla com pelo menos cinco valores e mostre no *standar output* esta tupla invertida. (exemplo, (1, 2, 3, 4) --> (4, 3, 2, 1)

4. Dada a seguinte tupla: (('a', 23),('b', 37),('c', 11), ('d',29)). Ordene esta tupla de acordo com o segundo item.

5. Defina uma tupla com pelo menos dez itens e crie uma nova tupla com apenas os itens de índice PAR da tupla original.

6. Defina uma tupla com pelo menos cinco valores e mostre quantas vezes cada elemento se repete.

7. Defina uma tupla e calcule a soma de seus elementos.

8. Considere a lista [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]. Faça um programa que remova as tuplas de tamanho K.

### Resoluções

1. Defina duas tuplas: uma com nomes de comida (pelo menos 5 nomes) e outra com os preços das comidas - preservando a ordem. Mostre no standard output a relação de comida-preço.

In [1]:
sobremesa = ('sorvete', 'chocolate', 'pavê', 'brigadeiro', 'brownie')
preco_sobremesa = (1.7, 2.8, 6.5, 8.4, 7.4)

for opcao, valor in zip(sobremesa, preco_sobremesa):
    print(f'{opcao} - R$ {valor}')

sorvete - R$ 1.7
chocolate - R$ 2.8
pavê - R$ 6.5
brigadeiro - R$ 8.4
brownie - R$ 7.4

In [4]:
sobremesa = ('sorvete', 'chocolate', 'pavê', 'brigadeiro', 'brownie')
preco_sobremesa = (1.7, 2.8, 6.5, 8.4, 7.4)

for elemento in zip(sobremesa, preco_sobremesa):
    print(type(elemento))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [5]:
comidas = ('pão', 'leite','cafe', 'queijo', 'maçã')
preços = (14.5, 10.5, 8.9, 20, 15)

for comida, preço in zip(comidas, preços):
    print(f'Comida {comida} --> Preço {preço}')

Comida pão --> Preço 14.5
Comida leite --> Preço 10.5
Comida cafe --> Preço 8.9
Comida queijo --> Preço 20
Comida maçã --> Preço 15

2. Agora, ainda com as tuplas acima, pegue apenas o nome e o preço das três comidas no meio da tupla. (considere "meio da lista" como sendo, por exemplo: ('A', 'B', 'C', 'D', 'E') --> ('B', 'C', 'D').

In [6]:
sobremesa = ('sorvete', 'chocolate', 'pavê', 'brigadeiro', 'brownie')
preco_sobremesa = (1.7, 2.8, 6.5, 8.4, 7.4)

#print(len(sobremesa))
x, *y, z = sobremesa[:]
a, *b, c = preco_sobremesa[:]

for index in zip(y, b):
    print(index)

('chocolate', 2.8)
('pavê', 6.5)
('brigadeiro', 8.4)

In [7]:
sobremesa = ('sorvete', 'chocolate', 'pavê', 'brigadeiro', 'brownie')
preco_sobremesa = (1.7, 2.8, 6.5, 8.4, 7.4)
#print(len(sobremesa))

for opcao, valor in zip(sobremesa, preco_sobremesa):
    if opcao != sobremesa[0] and opcao != sobremesa [-1]:
        print(f'{opcao} - R$ {valor}')

chocolate - R$ 2.8
pavê - R$ 6.5
brigadeiro - R$ 8.4

In [8]:
for comida, preço in zip(comidas[1:-1], preços[1:-1]):
    print(f'Comida {comida} --> Preço {preço}')

Comida leite --> Preço 10.5
Comida cafe --> Preço 8.9
Comida queijo --> Preço 20

In [9]:
nomes_comidas = ("Pizza", "Hambúrguer", "Sushi", "Salada", "Massa")
precos_comidas = (15.99, 8.99, 19.99, 7.99, 12.99)

nomes_meio = nomes_comidas[1:4]
precos_meio = precos_comidas[1:4]

for nome, preco in zip(nomes_meio, precos_meio):
    print(f"{nome}: R${preco:.2f}")

Hambúrguer: R$8.99
Sushi: R$19.99
Salada: R$7.99

3. Defina uma tupla com pelo menos cinco valores e mostre no standar output esta tupla invertida. Exemplo, (1, 2, 3, 4) --> (4, 3, 2, 1)

In [11]:
sobremesa = ('sorvete', 'chocolate', 'pavê', 'brigadeiro', 'brownie')
print(sobremesa[:])
#sobremesa[start:stop:step]
print(sobremesa[::-1], 'invertida')

('sorvete', 'chocolate', 'pavê', 'brigadeiro', 'brownie')
('brownie', 'brigadeiro', 'pavê', 'chocolate', 'sorvete') invertida

In [14]:
sorted(precos_comidas, reverse = True)

[19.99, 15.99, 12.99, 8.99, 7.99]

4. Dada a seguinte tupla: (('a', 23),('b', 37),('c', 11), ('d',29)). Ordene esta tupla de acordo com o segundo item.

In [15]:
par_tupla = (('a', 23),('b', 37),('c', 11), ('d',29))

sorted(par_tupla, key = lambda x: x[1])

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

5. Defina uma tupla com pelo menos dez itens e crie uma nova tupla com apenas os itens de índice PAR da tupla original.

In [17]:
diversos = ('a', 23, 'b', 37, 'c', 11, 'd',29, 'e', 29)

pares = (diversos[1:10:2])
pares

(23, 37, 11, 29, 29)

In [21]:
tupla_completa = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j')

pares = filter(lambda x: x[0]%2==0, enumerate(tupla_completa))
pares

In [20]:
#índice, elemento = enumerate(tupla_completa)

6. Defina uma tupla com pelo menos cinco valores e mostre quantas vezes cada elemento se repete.

In [22]:
diversos =  ('a', 23, 'b', 37,'c', 11, 'd',29, 'e', 29)

for i in diversos:
    if diversos.count(i) > 1:
        print(f'O elemento {i} se repete por {diversos.count(i)} vezes') 
    else:
        print(f'O elemento {i} não se repete.')

O elemento a não se repete.
O elemento 23 não se repete.
O elemento b não se repete.
O elemento 37 não se repete.
O elemento c não se repete.
O elemento 11 não se repete.
O elemento d não se repete.
O elemento 29 se repete por 2 vezes
O elemento e não se repete.
O elemento 29 se repete por 2 vezes

In [24]:
for valor in diversos:
    print(f'{valor=} --> frequencia {diversos.count(valor)}')

valor='a' --> frequencia 1
valor=23 --> frequencia 1
valor='b' --> frequencia 1
valor=37 --> frequencia 1
valor='c' --> frequencia 1
valor=11 --> frequencia 1
valor='d' --> frequencia 1
valor=29 --> frequencia 2
valor='e' --> frequencia 1
valor=29 --> frequencia 2

In [26]:
minha_tupla = ('a', 23, 'b', 37,'c', 11, 'd',29, 'e', 29)
contagem_elementos = {}  

for elemento in minha_tupla:
    if elemento in contagem_elementos:
        contagem_elementos[elemento] += 1
    else:
        contagem_elementos[elemento] = 1

for elemento, contagem in contagem_elementos.items():
    print(f'O elemento {elemento} se repete {contagem} vezes.')

O elemento a se repete 1 vezes.
O elemento 23 se repete 1 vezes.
O elemento b se repete 1 vezes.
O elemento 37 se repete 1 vezes.
O elemento c se repete 1 vezes.
O elemento 11 se repete 1 vezes.
O elemento d se repete 1 vezes.
O elemento 29 se repete 2 vezes.
O elemento e se repete 1 vezes.

7. Defina uma tupla e calcule a soma de seus elementos.

In [27]:
minha_tupla = (1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5)
sum(minha_tupla)

55

8. Considere a lista [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]. Faça um programa que remova as tuplas de tamanho K.

In [29]:
lista = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

K = 1
  
resultado = []
for elemento in lista: 
    if len(elemento) != K:
        resultado.append(elemento)
        
resultado

[(4, 5), (8, 6, 7), (3, 4, 6, 7)]